$info-color: #1892B4;
$danger-color: #CD5C5C;
$success-color: #3DAD62;
$helper-color-1: #452738;
$light-color: #fff;
$bg-color1: #fff;
$bg-color2: #efefef;
$border-color1: #aaa;
$border-color2: #ccc;
$border-color3: #eee;
